@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');

body{
    background: color #66d5f7;
    color: #1a46c2;
    font-family:'Playwite Indonesia',Arial;
    align-items: center;
}